@keyframes color {
  0%   { background: #33CCCC; }
  20%  { background: #33CC36; }
  40%  { background: #B8CC33; }
  60%  { background: #FCCA00; }
  80%  { background: #33CC36; }
  100% { background: #33CCCC; }
}
body {
  background: #33CCCC; 
  animation: color 9s infinite linear;
}
#container {
    position: relative;
    width: 800px; 
    height: auto; 
    margin: 0 auto; 
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .note {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    position: relative; 
    border: 3px solid black;
  }
  
  .deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .note textarea {
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    resize: none;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: large;
    color: black;
    font-family: 'Lucida Sans';
    overflow: hidden; 
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .note textarea::-webkit-scrollbar {
    display: none; 
  }
  #addNote {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s ease; 
  }
  
  #addNote:hover {
    color: black;
    background-color: rgba(170, 210, 220, 0.4); /* Faded background color */
  }
  .copyButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
  }
  @keyframes neon {
    0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
    }
    50% {
      text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 120px #0ff, 0 0 180px #0ff;
    }
    100% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
    }
  }
  h1 {
    color: black;
    font-size: 3em; 
    text-align: center; 
    animation: neon 2s infinite alternate; 
  }